<div class="background-image">
  <div class="overlay">
    <h1>Discover, Connect, Explore</h1>
    <a href="#why-localeconnect" mat-raised-button color="primary">About Us</a>
  </div>
</div>


<div id="why-localeconnect" class="why-localeconnect">
  <h3 class="introduction">Welcome to LocaleConnect, the ultimate travel companion for modern explorers! Our app is more
    than just a travel
    guide; it's a vibrant community where travelers and local guides come together to share their experiences and
    insights about the world's most captivating destinations.</h3>
  <h2>Why LocaleConnect?</h2>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="tile-content">
      <h3>A Hub for Travelers</h3>
      <p>
        Whether you're planning your next adventure or just daydreaming about distant lands, LocaleConnect is your go-to
        platform. Our app brings together travel enthusiasts from all corners of the globe, making it the perfect place
        to gather ideas, seek inspiration, and share your own travel stories.</p></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile-content">
      <h3>Connect with Local Guides</h3>
      <p>
        Dive deep into the culture and history of your next destination with insights from local guides. These community
        members provide a unique perspective, helping you experience a place like a local rather than just a
        visitor.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile-content">
      <h3>Plan and Join Meetups</h3>
      <p>
        LocaleConnect goes beyond virtual connections. Use our platform to create or join meetups, allowing you to meet
        fellow travelers in real life. Whether it's a city tour, a hiking trip, or just a casual get-together,
        LocaleConnect brings travelers together.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile-content">
      <h3>Personalized Travel Feeds</h3>
      <p>
        Get updates on exciting destinations, discover hidden gems, and browse through crafted itineraries and
        destination recommendations. Our travel feed is tailored to your interests, ensuring you always find content
        that resonates with your travel style.</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
