mat-form-field {
  width: 300px;
  padding-bottom: 12px;

}

.register-card {
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  mat-card-title {
    display: flex;
    align-items: center;
    text-align: center;
    color: #594E78;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center
  }
.upload-and-terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.file-upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.file-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8085AD;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.profile-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.or-separator {
    text-align: center;
    margin: 10px 0;
  }


  .form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .register-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

    a {
      color: #594E78;
    }
  }

