<mat-card class="itinerary-card">
  <mat-card-header>
    <mat-card-title>Add Itinerary</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="itineraryForm"
      (ngSubmit)="onSubmit()"
      class="itinerary-form"
    >
      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="itineraryForm.controls['name'].hasError('required')">
          A title is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error
          *ngIf="itineraryForm.controls['description'].hasError('required')"
        >
          A short description is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Number of Days</mat-label>
        <input type="number" min="1" matInput formControlName="numberOfDays" />
        <mat-error
          *ngIf="itineraryForm.controls['numberOfDays'].hasError('required')"
        >
          An itinerary is at least one day long.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Places to Visit</mat-label>
        <input
          matInput
          formControlName="placesToVisit"
          placeholder="Place1, Place2, Place3"
        />
        <mat-error
          *ngIf="itineraryForm.controls['placesToVisit'].hasError('required')"
        >
          At least one destination is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Daily Activities</mat-label>
        <input
          matInput
          formControlName="dailyActivities"
          placeholder="Activity1, Activity2, Activity3"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="itinerary-form-field">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" [multiple]="true">
          <mat-option *ngFor="let tag of tagOptions" [value]="tag">{{
            tag
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="file-input-container">
        <input
          #fileInput
          type="file"
          id="file"
          (change)="onFileSelected($event)"
          hidden
        />
        <label for="file" class="file-input-label">
          <mat-icon>add_photo_alternate</mat-icon>
          Choose Image
        </label>
      </div>
      <div class="form-actions">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button
          mat-raised-button
          type="submit"
          [disabled]="itineraryForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
